# Data cleaning and wrangling

## Content
1. Import data and libraries
2. Read data
3. Create subset "residential properties"
4. Data wrangling and cleaning
5. Export data

## 1. Import data and libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Turn project folder path into a string
path = r'C:\Users\Lara\Career Foundry Projects\Wake County Housing Market 2023'# Importing libraries

# Import data file using os library
df_real_est = pd.read_csv (os.path.join(path, 'Data', 'Original Data', 'RealEstData10292023.csv'), index_col = False)

C:\Users\Lara\AppData\Local\Temp\ipykernel_25480\4041580209.py:10: DtypeWarning: Columns (12,47,69,70,71,72,77,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df_real_est = pd.read_csv (os.path.join(path, 'Data', 'Original Data', 'RealEstData10292023.csv'), index_col = False)

In [2]:
# Set floating numbers to be rounded to only 2 decimals
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# Set new limits for displaying rows
pd.set_option('display.max_rows', 1000)

## 2. Read data

In [4]:
df_real_est.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443096 entries, 0 to 443095
Data columns (total 87 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   OWNER1                          443096 non-null  object
 1   OWNER2                          82279 non-null   object
 2   Mailing_address1                443096 non-null  object
 3   Mailing_Address2                443090 non-null  object
 4   Mailing_Address3                25247 non-null   object
 5   REAL_ESTATE_ID                  443096 non-null  int64
 6   CARD_NUMBER                     443096 non-null  int64
 7   NUMBER_OF_CARDS                 443096 non-null  int64
 8   Street_Number                   443096 non-null  int64
 9   Street_Prefix                   17456 non-null   object
 10  Street_Name                     443096 non-null  object
 11  Street_Type                     441727 non-null  object
 12  Street_Suffix                   803 non-null     object
 13  Planning_Jurisdiction           443096 non-null  object
 14  Street_Misc                     17638 non-null   object
 15  Township                        443096 non-null  int64
 16  Fire_District                   97857 non-null   float64
 17  Land_Sale_Price                 443096 non-null  object
 18  Land_Sale_Date                  164440 non-null  object
 19  Zoning                          441742 non-null  object
 20  Deeded_Acreage                  443096 non-null  float64
 21  Total_sale_Price                443096 non-null  object
 22  Total_Sale_Date                 360140 non-null  object
 23  Assessed_Building_Value         443096 non-null  object
 24  Assessed_Land_Value             443096 non-null  object
 25  Parcel_Identification           443096 non-null  object
 26  Special_District1               3976 non-null    object
 27  Special_District2               0 non-null       float64
 28  Special_District3               0 non-null       float64
 29  BILLING_CLASS                   443096 non-null  int64
 30  PROPERTY_DESCRIPTION            443046 non-null  object
 31  Land_classification             443079 non-null  object
 32  DEED_BOOK                       441841 non-null  object
 33  DEED_PAGE                       443096 non-null  object
 34  Deed_Date                       443096 non-null  object
 35  VCS                             443096 non-null  object
 36  PROPERTY_INDEX                  434083 non-null  object
 37  Year_Built                      443096 non-null  int64
 38  NUM_of_Rooms                    443096 non-null  int64
 39  UNITS                           443096 non-null  int64
 40  HEATED_AREA                     443096 non-null  int64
 41  UTILITIES                       438251 non-null  object
 42  Street_pavement                 0 non-null       float64
 43  TOPOGRAPHY                      0 non-null       float64
 44  Year_of_Addition                443096 non-null  int64
 45  Effective_year                  443096 non-null  int64
 46  Remodeled_Year                  443096 non-null  int64
 47  Special_Write_In                401 non-null     object
 48  Story_Height                    388142 non-null  object
 49  DESIGN_STYLE                    387791 non-null  object
 50  Foundation_Basement             312197 non-null  object
 51  Foundation_Basement_Percent     443096 non-null  int64
 52  Exterior_Wall                   388124 non-null  object
 53  COMMON_WALL                     0 non-null       float64
 54  ROOF                            0 non-null       float64
 55  Roof_Floor_System               30887 non-null   object
 56  Floor_Finish                    0 non-null       float64
 57  Interior_Finish                 0 non-null       float64
 58  Interior_Finish1                0 non-null       float64
 59  Interior_Finish1_percent        3938 non-null    float64
 60  Interior_Finish2                0 non-null       float64
 61  Interior_Finish2_percent        3938 non-null    float64
 62  HEAT                            388083 non-null  object
 63  HEAT_PERCENT                    443096 non-null  int64
 64  AIR                             388161 non-null  object
 65  AIR_PERCENT                     443096 non-null  int64
 66  BATH                            387925 non-null  object
 67  BATH_FIXTURES                   443096 non-null  int64
 68  Built_in1_Description           291648 non-null  object
 69  Built_in2_Description           1900 non-null    object
 70  Built_in3_Description           168 non-null     object
 71  Built_in4_Description           11 non-null      object
 72  Built_in5_Description           46 non-null      object
 73  CITY                            352516 non-null  object
 74  GRADE                           389114 non-null  object
 75  Assessed_Grade_Difference       443096 non-null  int64
 76  Accrued_Assessed_Condition_Pct  443096 non-null  int64
 77  Land_Deferred_code              3481 non-null    object
 78  Land_Deferred_Amount            443096 non-null  int64
 79  Historic_Deferred_code          259 non-null     object
 80  Historic_Deferred_Amount        443096 non-null  int64
 81  RECYCLED_UNITS                  443096 non-null  int64
 82  Disq_and_Qual_flag              359878 non-null  object
 83  Land_Disq_and_Qual_flag         159689 non-null  object
 84  TYPE_AND_USE                    389114 non-null  float64
 85  PHYSICAL_CITY                   440665 non-null  object
 86  PHYSICAL_ZIP_CODE               439982 non-null  float64
dtypes: float64(16), int64(22), object(49)
memory usage: 294.1+ MB

In [5]:
# Check first and last 10 lines
df_real_est.head(10)

,OWNER1,OWNER2,Mailing_address1,Mailing_Address2,Mailing_Address3,REAL_ESTATE_ID,CARD_NUMBER,NUMBER_OF_CARDS,Street_Number,Street_Prefix,...,Land_Deferred_code,Land_Deferred_Amount,Historic_Deferred_code,Historic_Deferred_Amount,RECYCLED_UNITS,Disq_and_Qual_flag,Land_Disq_and_Qual_flag,TYPE_AND_USE,PHYSICAL_CITY,PHYSICAL_ZIP_CODE
0,NORTHGATE PROPERTIES LLC,NaN,8465 LENTIC CT,RALEIGH NC 27615-4964,NaN,1,1,1,1506,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,RALEIGH,"27,604.00"
1,BONES 13 LLC,NaN,306 MIDENHALL WAY,CARY NC 27513-5569,NaN,3,1,2,6012,NaN,...,NaN,0,NaN,0,0,A,NaN,20.00,RALEIGH,"27,617.00"
2,BONES 13 LLC,NaN,306 MIDENHALL WAY,CARY NC 27513-5569,NaN,3,2,2,6012,NaN,...,NaN,0,NaN,0,0,A,NaN,34.00,RALEIGH,"27,617.00"
3,HARRISPARK PROPERTIES INC,NaN,608 GASTON ST STE 200,RALEIGH NC 27603-1258,NaN,4,1,1,1601,NaN,...,NaN,0,NaN,0,0,T,NaN,85.00,RALEIGH,"27,604.00"
4,"MOGHADASS, INC",NaN,1532 PROVIDENCE RD S STE 230,WAXHAW NC 28173-8313,NaN,5,1,1,1831,NaN,...,NaN,0,NaN,0,0,A,NaN,200.00,RALEIGH,"27,604.00"
5,RALEIGH CITY OF,NaN,PO BOX 590,RALEIGH NC 27602-0590,NaN,16,1,1,609,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,RALEIGH,"27,610.00"
6,SKS PROPERTIES LLC,NaN,PO BOX 97846,RALEIGH NC 27624,NaN,17,1,1,103,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,RALEIGH,"27,607.00"
7,N C BEER WHOLESALERS ASSOC,NaN,210 N PERSON ST,RALEIGH NC 27601-1047,NaN,18,1,1,210,N,...,NaN,0,NaN,0,0,A,NaN,35.00,RALEIGH,"27,601.00"
8,"MICKENS, ROBERT EARL & ANNIE M",NaN,2457 BERTIE DR,RALEIGH NC 27610-1730,NaN,19,1,1,2457,NaN,...,NaN,0,NaN,0,1,A,NaN,1.00,RALEIGH,"27,610.00"
9,"COREY, JAMES CURTIS & REGINA B",NaN,2848 PROVIDENCE RD,RALEIGH NC 27610-5210,NaN,20,1,1,2848,NaN,...,NaN,0,NaN,0,1,A,NaN,1.00,RALEIGH,"27,610.00"

In [6]:
df_real_est.tail(10)

,OWNER1,OWNER2,Mailing_address1,Mailing_Address2,Mailing_Address3,REAL_ESTATE_ID,CARD_NUMBER,NUMBER_OF_CARDS,Street_Number,Street_Prefix,...,Land_Deferred_code,Land_Deferred_Amount,Historic_Deferred_code,Historic_Deferred_Amount,RECYCLED_UNITS,Disq_and_Qual_flag,Land_Disq_and_Qual_flag,TYPE_AND_USE,PHYSICAL_CITY,PHYSICAL_ZIP_CODE
443086,UNKNOWN ADDRESS RALEIGH,NaN,UNKNOWN ADDRESS DR,RALEIGH NC 27601,NaN,888917,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,RALEIGH,NaN
443087,UNKNOWN ADDRESS ROLESVILLE,NaN,UNKNOWN ADDRESS DR,ROLESVILLE NC 27571,NaN,888918,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,ROLESVILLE,0.00
443088,UNKNOWN ADDRESS WENDELL,NaN,UNKNOWN ADDRESS DR,WENDELL NC 27591,NaN,888919,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,WENDELL,0.00
443089,UNKNOWN ADDRESS WAKE FOREST,NaN,UNKNOWN ADDRESS DR,WAKE FOREST NC 27587,NaN,888920,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,WAKE FOREST,NaN
443090,UNKNOWN ADDRESS ZEBULON,NaN,UNKNOWN ADDRESS DR,ZEBULON NC 27597,NaN,888921,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,ZEBULON,0.00
443091,UNKNOWN ADDRESS WAKE COUNTY,NaN,UNKNOWN ADDRESS DR,RALEIGH NC 27603,NaN,888922,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,NaN,0.00
443092,VARIOUS ANGIER,NaN,VARIOUS DR,ANGIER NC 27501,NaN,888923,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,ANGIER,0.00
443093,UNKNOWN ADDRESS ANGIER,NaN,UNKNOWN ADDRESS DR,ANGIER NC 27501,NaN,888924,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,ANGIER,0.00
443094,UNKNOWN ADDRESS MSD MORRISVILLE,NaN,UNKNOWN ADDRESS DR,MORRISVILLE NC 27560,NaN,888927,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,MORRISVILLE,NaN
443095,VARIOUS HMD DR RALEIGH,NaN,0 VARIOUS HMD DR,RALEIGH NC 27603,NaN,888928,1,1,0,NaN,...,NaN,0,NaN,0,0,NaN,NaN,NaN,RALEIGH,"27,603.00"

In [7]:
# Descriptive statistics
df_real_est.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
OWNER1,443096,347293,LENNAR CAROLINAS LLC,1392,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWNER2,82279,72953,KIM SAUNDERS,560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mailing_address1,443096,323551,PO BOX 4090,1756,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mailing_Address2,443090,83581,SCOTTSDALE AZ 85261-4090,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mailing_Address3,25247,3581,RALEIGH NC 27614-8837,1091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
REAL_ESTATE_ID,"443,096.00",NaN,NaN,NaN,"251,042.39","147,541.15",1.00,"125,641.75","244,712.50","366,742.25","888,928.00"
CARD_NUMBER,"443,096.00",NaN,NaN,NaN,1.24,2.05,1.00,1.00,1.00,1.00,96.00
NUMBER_OF_CARDS,"443,096.00",NaN,NaN,NaN,1.48,3.51,1.00,1.00,1.00,1.00,96.00
Street_Number,"443,096.00",NaN,NaN,NaN,"2,810.24","2,975.42",0.00,415.00,"1,608.00","4,516.00","83,012.00"
Street_Prefix,17456,8,E,4572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Street_Name,443096,20919,MAIN,1332,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Street_Type,441727,43,DR,133847,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Street_Suffix,803,8,W,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Planning_Jurisdiction,443096,17,RA,166238,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Street_Misc,17638,1634,101,934,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Township,"443,096.00",NaN,NaN,NaN,11.39,6.40,1.00,6.00,12.00,17.00,20.00
Fire_District,"97,857.00",NaN,NaN,NaN,23.01,0.09,23.00,23.00,23.00,23.00,26.00
Land_Sale_Price,443096,6867,0,278776,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Land_Sale_Date,164440,9282,03.12.2018,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoning,441742,335,R-4,49762,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deeded_Acreage,"443,096.00",NaN,NaN,NaN,3.05,86.43,0.00,0.14,0.26,0.64,"17,955.26"
Total_sale_Price,443096,7141,0,83975,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total_Sale_Date,360140,10601,01.01.1977,897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Assessed_Building_Value,443096,236195,0,52961,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Assessed_Land_Value,443096,28331,0,34017,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parcel_Identification,443096,426875,0794.19 50 7874 000,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Special_District1,3976,9,RML,1955,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Special_District2,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Special_District3,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BILLING_CLASS,"443,096.00",NaN,NaN,NaN,2.02,0.86,1.00,2.00,2.00,2.00,6.00
PROPERTY_DESCRIPTION,443046,417223,LO1,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Land_classification,443079,24,R,341394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEED_BOOK,441841,18534,-E-,1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEED_PAGE,443096,4470,-,2288,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Deed_Date,443096,14367,21.10.2013,607,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VCS,443096,5245,09WC900,2758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PROPERTY_INDEX,434083,23917,09WC900,2747,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year_Built,"443,096.00",NaN,NaN,NaN,"1,751.76",653.03,0.00,"1,973.00","1,997.00","2,007.00","2,024.00"
NUM_of_Rooms,"443,096.00",NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00
UNITS,"443,096.00",NaN,NaN,NaN,1.49,12.84,0.00,1.00,1.00,1.00,999.00
HEATED_AREA,"443,096.00",NaN,NaN,NaN,"3,023.98","10,781.65",0.00,"1,316.00","1,976.00","2,827.00","2,541,106.00"
UTILITIES,438251,15,ALL,309952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Street_pavement,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOPOGRAPHY,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year_of_Addition,"443,096.00",NaN,NaN,NaN,72.26,374.84,0.00,0.00,0.00,0.00,"2,202.00"
Effective_year,"443,096.00",NaN,NaN,NaN,"1,755.19",653.93,0.00,"1,982.00","1,999.00","2,008.00","2,999.00"
Remodeled_Year,"443,096.00",NaN,NaN,NaN,46.16,301.57,0.00,0.00,0.00,0.00,"2,209.00"
Special_Write_In,401,153,ROOM HSE,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Story_Height,388142,15,C,166155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DESIGN_STYLE,387791,16,A,289611,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Foundation_Basement,312197,6,D,253917,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Foundation_Basement_Percent,"443,096.00",NaN,NaN,NaN,2.14,10.58,0.00,0.00,0.00,0.00,99.00
Exterior_Wall,388124,26,A,186186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COMMON_WALL,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ROOF,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roof_Floor_System,30887,6,A,16274,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Floor_Finish,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interior_Finish,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interior_Finish1,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interior_Finish1_percent,"3,938.00",NaN,NaN,NaN,46.62,29.11,1.00,17.00,50.00,71.75,99.00
Interior_Finish2,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interior_Finish2_percent,"3,938.00",NaN,NaN,NaN,46.62,29.11,1.00,17.00,50.00,71.75,99.00
HEAT,388083,7,A,380447,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HEAT_PERCENT,"443,096.00",NaN,NaN,NaN,0.14,2.95,0.00,0.00,0.00,0.00,99.00
AIR,388161,4,A,376669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AIR_PERCENT,"443,096.00",NaN,NaN,NaN,0.27,3.80,0.00,0.00,0.00,0.00,99.00
BATH,387925,10,D,139273,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BATH_FIXTURES,"443,096.00",NaN,NaN,NaN,0.76,4.52,-8.00,0.00,0.00,0.00,492.00
Built_in1_Description,291648,48,One Fireplace,269803,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Built_in2_Description,1900,21,Sprinkler Syste,799,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Built_in3_Description,168,16,Sprinkler Syste,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Built_in4_Description,11,6,Sprinkler Syste,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Built_in5_Description,46,41,FIN MEZZ,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CITY,352516,15,RAL,158004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GRADE,389114,369,B,39445,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Assessed_Grade_Difference,"443,096.00",NaN,NaN,NaN,103.90,44.64,0.00,100.00,110.00,128.00,760.00
Accrued_Assessed_Condition_Pct,"443,096.00",NaN,NaN,NaN,70.79,30.20,0.00,68.00,82.00,89.00,297.00
Land_Deferred_code,3481,1,L,3481,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Land_Deferred_Amount,"443,096.00",NaN,NaN,NaN,"6,016.39","150,565.47",0.00,0.00,0.00,0.00,"30,131,006.00"
Historic_Deferred_code,259,1,H,259,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Historic_Deferred_Amount,"443,096.00",NaN,NaN,NaN,549.31,"46,031.45",0.00,0.00,0.00,0.00,"15,576,593.00"
RECYCLED_UNITS,"443,096.00",NaN,NaN,NaN,4.49,31.11,0.00,1.00,1.00,1.00,675.00
Disq_and_Qual_flag,359878,19,A,328069,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Land_Disq_and_Qual_flag,159689,19,A,98558,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TYPE_AND_USE,"389,114.00",NaN,NaN,NaN,5.10,16.99,1.00,1.00,1.00,1.00,998.00
PHYSICAL_CITY,440665,19,RALEIGH,198652,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PHYSICAL_ZIP_CODE,"439,982.00",NaN,NaN,NaN,"27,280.05","2,826.85",0.00,"27,526.00","27,591.00","27,610.00","27,713.00"

### Comments:
#### From this initial reading of dataset  I see that some columns don't have any non-NaN values. Certain columns hold data that is Personal Identifiable Information (PII) and some data is not necessary for further analysis. Document that accompanies this dataset and explains codes in some columns can be found here:
#### https://s3.us-west-1.amazonaws.com/wakegov.com.if-us-west-1/s3fs-public/documents/2020-10/CodeDescriptions.pdf

## 3. Create subset "residential properties"

#### In my project I want to analize only residential properties, which are denoted with codes 01 - single family, 02 - two family, 03 - three family, 04 - four family, 05 - multi-family and 06 - res w/busi use in column TYPE_AND_USE

In [8]:
df_real_est.shape

(443096, 87)

In [9]:
# Create subset
df_residential = df_real_est.loc[df_real_est['TYPE_AND_USE'].isin([1, 2, 3, 4, 5, 6])]

In [10]:
df_residential.shape

(353866, 87)

In [11]:
df_residential['TYPE_AND_USE'].value_counts(dropna = False)

TYPE_AND_USE
1.00    349976
2.00      2557
4.00       587
3.00       462
6.00       247
5.00        37
Name: count, dtype: int64

#### It looks like 98.9% of all residential properties are single family (code 01)

## 4. Data cleaning and wrangling

### Drop columns

In [12]:
# List of all column names
list(df_residential)

['OWNER1',
 'OWNER2',
 'Mailing_address1',
 'Mailing_Address2',
 'Mailing_Address3',
 'REAL_ESTATE_ID',
 'CARD_NUMBER',
 'NUMBER_OF_CARDS',
 'Street_Number',
 'Street_Prefix',
 'Street_Name',
 'Street_Type',
 'Street_Suffix',
 'Planning_Jurisdiction',
 'Street_Misc',
 'Township',
 'Fire_District',
 'Land_Sale_Price',
 'Land_Sale_Date',
 'Zoning',
 'Deeded_Acreage',
 'Total_sale_Price',
 'Total_Sale_Date',
 'Assessed_Building_Value',
 'Assessed_Land_Value',
 'Parcel_Identification',
 'Special_District1',
 'Special_District2',
 'Special_District3',
 'BILLING_CLASS',
 'PROPERTY_DESCRIPTION',
 'Land_classification',
 'DEED_BOOK',
 'DEED_PAGE',
 'Deed_Date',
 'VCS',
 'PROPERTY_INDEX',
 'Year_Built',
 'NUM_of_Rooms',
 'UNITS',
 'HEATED_AREA',
 'UTILITIES',
 'Street_pavement',
 'TOPOGRAPHY',
 'Year_of_Addition',
 'Effective_year',
 'Remodeled_Year',
 'Special_Write_In',
 'Story_Height',
 'DESIGN_STYLE',
 'Foundation_Basement',
 'Foundation_Basement_Percent',
 'Exterior_Wall',
 'COMMON_WALL',
 'ROOF',
 'Roof_Floor_System',
 'Floor_Finish',
 'Interior_Finish',
 'Interior_Finish1',
 'Interior_Finish1_percent',
 'Interior_Finish2',
 'Interior_Finish2_percent',
 'HEAT',
 'HEAT_PERCENT',
 'AIR',
 'AIR_PERCENT',
 'BATH',
 'BATH_FIXTURES',
 'Built_in1_Description',
 'Built_in2_Description',
 'Built_in3_Description',
 'Built_in4_Description',
 'Built_in5_Description',
 'CITY',
 'GRADE',
 'Assessed_Grade_Difference',
 'Accrued_Assessed_Condition_Pct',
 'Land_Deferred_code',
 'Land_Deferred_Amount',
 'Historic_Deferred_code',
 'Historic_Deferred_Amount',
 'RECYCLED_UNITS',
 'Disq_and_Qual_flag',
 'Land_Disq_and_Qual_flag',
 'TYPE_AND_USE',
 'PHYSICAL_CITY',
 'PHYSICAL_ZIP_CODE']

In [13]:
# Drop columns with PII about owner(s)
df_residential = df_residential.drop (columns = ['OWNER1', 'OWNER2', 'Mailing_address1', 'Mailing_Address2', 'Mailing_Address3'])

df_residential.shape

(353866, 82)

In [14]:
# Drop columns with details about exact address of real estate - some of this data could be PII, some is unnecessary
df_residential = df_residential.drop (columns = ['Street_Number', 'Street_Prefix', 'Street_Name', 'Street_Type', 'Street_Suffix',
'Planning_Jurisdiction', 'Street_Misc', 'Township', 'Fire_District'])

df_residential.shape

(353866, 73)

In [15]:
# Drop all unnecessary details that don't have anything to do with sale or estimation figures of property, type, city
# zip code, year built or similar and basic details about property and all columns that have all zero values or all NaN
df_residential = df_residential.drop (columns = ['CARD_NUMBER', 'NUMBER_OF_CARDS', 'Zoning', 'Parcel_Identification', 'Special_District1',
'Special_District2', 'Special_District3', 'BILLING_CLASS', 'PROPERTY_DESCRIPTION', 'Land_classification',
'DEED_BOOK', 'DEED_PAGE', 'Deed_Date', 'VCS', 'PROPERTY_INDEX','NUM_of_Rooms','Street_pavement', 'TOPOGRAPHY',
'Special_Write_In', 'Foundation_Basement', 'Foundation_Basement_Percent', 'Exterior_Wall', 'COMMON_WALL', 'ROOF',
'Roof_Floor_System', 'Floor_Finish', 'Interior_Finish', 'Interior_Finish1', 'Interior_Finish1_percent', 'Interior_Finish2',
'Interior_Finish2_percent', 'HEAT', 'HEAT_PERCENT', 'AIR', 'AIR_PERCENT','BATH_FIXTURES', 'Built_in1_Description',
'Built_in2_Description', 'Built_in3_Description', 'Built_in4_Description', 'Built_in5_Description', 'CITY', 'GRADE',
'Assessed_Grade_Difference', 'Accrued_Assessed_Condition_Pct', 'Land_Deferred_code', 'Land_Deferred_Amount',
'Historic_Deferred_code', 'Historic_Deferred_Amount', 'RECYCLED_UNITS', 'Disq_and_Qual_flag', 'Land_Disq_and_Qual_flag'])

df_real_est.shape

(443096, 87)

#### Comment: With this extensive column droping I also removed mixed column types 12,47,69,70,71,72,77,79.

In [16]:
# Check basic info again
df_residential.info()

<class 'pandas.core.frame.DataFrame'>
Index: 353866 entries, 8 to 443060
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   REAL_ESTATE_ID           353866 non-null  int64
 1   Land_Sale_Price          353866 non-null  object
 2   Land_Sale_Date           140991 non-null  object
 3   Deeded_Acreage           353866 non-null  float64
 4   Total_sale_Price         353866 non-null  object
 5   Total_Sale_Date          331772 non-null  object
 6   Assessed_Building_Value  353866 non-null  object
 7   Assessed_Land_Value      353866 non-null  object
 8   Year_Built               353866 non-null  int64
 9   UNITS                    353866 non-null  int64
 10  HEATED_AREA              353866 non-null  int64
 11  UTILITIES                351344 non-null  object
 12  Year_of_Addition         353866 non-null  int64
 13  Effective_year           353866 non-null  int64
 14  Remodeled_Year           353866 non-null  int64
 15  Story_Height             352916 non-null  object
 16  DESIGN_STYLE             352915 non-null  object
 17  BATH                     352890 non-null  object
 18  TYPE_AND_USE             353866 non-null  float64
 19  PHYSICAL_CITY            353638 non-null  object
 20  PHYSICAL_ZIP_CODE        353575 non-null  float64
dtypes: float64(3), int64(7), object(11)
memory usage: 59.4+ MB

#### Comment: Next step is to change names of most of the columns, as they are not all of the same format, or some of them are too long. Based on the information in PDF file CodeDescription I will replace letter codes with actual descriptions. After that I will deal with missing values.

### Change column names

In [17]:
list(df_residential)

['REAL_ESTATE_ID',
 'Land_Sale_Price',
 'Land_Sale_Date',
 'Deeded_Acreage',
 'Total_sale_Price',
 'Total_Sale_Date',
 'Assessed_Building_Value',
 'Assessed_Land_Value',
 'Year_Built',
 'UNITS',
 'HEATED_AREA',
 'UTILITIES',
 'Year_of_Addition',
 'Effective_year',
 'Remodeled_Year',
 'Story_Height',
 'DESIGN_STYLE',
 'BATH',
 'TYPE_AND_USE',
 'PHYSICAL_CITY',
 'PHYSICAL_ZIP_CODE']

In [18]:
# I want to follow snake_case convention for naming columns and thus I will need to change the name of every column
df_residential.columns = ['real_estate_id', 'land_sale_price', 'land_sale_date', 'deeded_acreage', 'total_sale_price',
                  'total_sale_date', 'assessed_building_value', 'assessed_land_value', 'year_built', 'units',
                  'heated_area', 'utilities', 'addition_year', 'effective_year', 'remodeled_year', 'story_height',
                  'design_style', 'bath', 'type_and_use', 'city', 'zip_code']

In [19]:
list(df_residential)

['real_estate_id',
 'land_sale_price',
 'land_sale_date',
 'deeded_acreage',
 'total_sale_price',
 'total_sale_date',
 'assessed_building_value',
 'assessed_land_value',
 'year_built',
 'units',
 'heated_area',
 'utilities',
 'addition_year',
 'effective_year',
 'remodeled_year',
 'story_height',
 'design_style',
 'bath',
 'type_and_use',
 'city',
 'zip_code']

### Replace codes with real values

#### I was using document CodeDescriptions.pdf (link already provided above in Comment markdown cell of part "2. Reading data") to replace codes in several columns with appropriate values.
#### However, I will not change codes in column 'utilities' because they represent combination of first letters of available utilities at property. W - water, S - sewer, G - gas, E - electric or ALL. So, SGE is sewer, gas, electric. This would take too much space.
#### Columns that will have codes changed are: 'story_height', 'design_style', 'bath' and 'type_and_use'. Codes in 'story_height' were converted to decimal numbers.

In [20]:
# Replacing codes in column 'story_height'
df_residential = df_residential.replace({'story_height':{'A':'1 story', 'B':'1.5 story', 'C':'2 story', 'D':'2.5 story', 'E':'3 story', 'F':'3.5 story', 'G':'4 story', 'H':'Multi story', 'I':'1.75 story', 'J':'1.4 story', 'K':'1.63 story', 'L':'1.88 story', 'M':'2.4 story', 'N':'2.63 story', 'O':'2.75 story'}})

In [21]:
df_residential['story_height'].value_counts(dropna = False)

story_height
2 story       160111
1 story       115981
1.5 story      25309
1.75 story     22423
1.88 story     14291
1.63 story      8183
1.4 story       5226
3 story         1381
NaN              950
2.5 story          6
2.4 story          3
2.75 story         1
2.63 story         1
Name: count, dtype: int64

In [22]:
# For now, I'll change NaN to Unknown
df_residential['story_height'] = df_residential['story_height'].fillna('Unknown')

In [23]:
df_residential['story_height'].value_counts(dropna = False)

story_height
2 story       160111
1 story       115981
1.5 story      25309
1.75 story     22423
1.88 story     14291
1.63 story      8183
1.4 story       5226
3 story         1381
Unknown          950
2.5 story          6
2.4 story          3
2.75 story         1
2.63 story         1
Name: count, dtype: int64

In [24]:
# replacing codes in column 'design_style'
df_residential = df_residential.replace({'design_style':{'A':'Conventional', 'B':'Duplex', 'C':'Townhouse', 'D':'Condo', 'E':'Conversion', 'F':'Colonial', 'G':'Ranch', 'H':'Cape', 'I':'Split level', 'J':'Split foyer', 'K':'Contemporary', 'L':'Log', 'M':'Manuf sngl', 'N':'Manuf multi', 'O':'Modular'}})

In [25]:
df_residential['design_style'].value_counts(dropna = False)

design_style
Conventional    264243
Townhouse        53644
Condo            12462
Ranch             8956
Split level       7617
Split foyer       2244
Duplex            1771
NaN                951
Contemporary       740
Conversion         696
Modular            321
Log                144
Colonial            45
Manuf multi         12
Cape                10
Manuf sngl           8
P                    2
Name: count, dtype: int64

In [26]:
# For now, I'll change NaN and P to Unknown
df_residential['design_style'] = df_residential['design_style'].fillna('Unknown')

In [27]:
df_residential = df_residential.replace({'design_style':{'P':'Unknown'}})

In [28]:
df_residential['design_style'].value_counts(dropna = False)

design_style
Conventional    264243
Townhouse        53644
Condo            12462
Ranch             8956
Split level       7617
Split foyer       2244
Duplex            1771
Unknown            953
Contemporary       740
Conversion         696
Modular            321
Log                144
Colonial            45
Manuf multi         12
Cape                10
Manuf sngl           8
Name: count, dtype: int64

In [29]:
# Replacing codes in column 'bath'
df_residential = df_residential.replace({'bath':{'A':'1 bath', 'B':'1.5 bath', 'C':'2 bath', 'D':'2.5 bath', 'E':'3 bath', 'F':'3.5 bath', 'G':'Limited plmg', 'H':'No plumbing', 'I':'Adequate', 'J':'NO of fixtures'}})

In [30]:
df_residential['bath'].value_counts(dropna = False)

bath
2.5 bath          139126
3.5 bath           67007
2 bath             64184
3 bath             35294
NO of fixtures     18035
1 bath             16681
1.5 bath           12404
NaN                  976
No plumbing          100
Adequate              53
Limited plmg           6
Name: count, dtype: int64

In [31]:
# For now, I'll change NaN to Unknown
df_residential['bath'] = df_residential['bath'].fillna('Unknown')

In [32]:
df_residential['bath'].value_counts(dropna = False)

bath
2.5 bath          139126
3.5 bath           67007
2 bath             64184
3 bath             35294
NO of fixtures     18035
1 bath             16681
1.5 bath           12404
Unknown              976
No plumbing          100
Adequate              53
Limited plmg           6
Name: count, dtype: int64

In [33]:
# Replacing codes in column 'type_and_use'
df_residential = df_residential.replace({'type_and_use':{1:'1 family', 2:'2 family', 3:'3 family', 4:'4 family', 5:'Multi family', 6:'Res. w/busi use'}})

In [34]:
df_residential['type_and_use'].value_counts(dropna = False)

type_and_use
1 family           349976
2 family             2557
4 family              587
3 family              462
Res. w/busi use       247
Multi family           37
Name: count, dtype: int64

### Duplicates and missing or incorrect values

In [35]:
df_residential.shape

(353866, 21)

In [36]:
# Check if there are any full duplicates
df_residential_dups = df_residential[df_residential.duplicated()]

In [37]:
df_residential_dups

,real_estate_id,land_sale_price,land_sale_date,deeded_acreage,total_sale_price,total_sale_date,assessed_building_value,assessed_land_value,year_built,units,...,utilities,addition_year,effective_year,remodeled_year,story_height,design_style,bath,type_and_use,city,zip_code
828,914,0,NaN,0.38,0,NaN,"70,951","99,318",1920,1,...,WSE,0,1960,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
849,937,0,NaN,0.59,0,NaN,"6,665","260,213",1940,2,...,WSE,0,1940,0,1 story,Conventional,2 bath,2 family,FUQUAY VARINA,"27,526.00"
1179,1314,0,NaN,0.16,0,NaN,"71,972","280,000",1986,1,...,ALL,0,1986,0,2 story,Townhouse,1 bath,1 family,RALEIGH,"27,601.00"
1421,1604,"57,000",15.07.2014,0.32,0,NaN,"477,631","94,500",2016,1,...,ALL,0,2016,0,2 story,Conventional,3 bath,1 family,RALEIGH,"27,606.00"
1422,1604,"57,000",15.07.2014,0.32,0,NaN,"477,631","94,500",2016,1,...,ALL,0,2016,0,2 story,Conventional,3 bath,1 family,RALEIGH,"27,606.00"
1859,2087,0,NaN,1.34,0,NaN,"861,187","72,000",1997,1,...,WSE,0,1997,0,1 story,Townhouse,2 bath,1 family,ZEBULON,"27,597.00"
1860,2087,0,NaN,1.34,0,NaN,"861,187","72,000",1997,1,...,WSE,0,1997,0,1 story,Townhouse,2 bath,1 family,ZEBULON,"27,597.00"
1861,2087,0,NaN,1.34,0,NaN,"861,187","72,000",1997,1,...,WSE,0,1997,0,1 story,Townhouse,2 bath,1 family,ZEBULON,"27,597.00"
1862,2087,0,NaN,1.34,0,NaN,"861,187","72,000",1997,1,...,WSE,0,1997,0,1 story,Townhouse,2 bath,1 family,ZEBULON,"27,597.00"
1866,2087,0,NaN,1.34,0,NaN,"861,187","72,000",1987,1,...,WSE,0,1987,0,1 story,Townhouse,2 bath,1 family,ZEBULON,"27,597.00"
3379,3729,0,NaN,1.05,"465,000",14.12.2018,"399,844","72,000",1959,2,...,ALL,0,1980,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
3380,3729,0,NaN,1.05,"465,000",14.12.2018,"399,844","72,000",1959,2,...,ALL,0,1980,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
4209,4742,0,NaN,0.68,"525,000",15.01.2019,"501,471","82,500",1965,2,...,ALL,0,1965,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,606.00"
7937,8863,0,NaN,1.00,"90,000",01.07.2005,"100,014","50,000",1963,1,...,E,0,1963,0,1 story,Conventional,1 bath,1 family,WAKE FOREST,"27,587.00"
9784,10893,0,NaN,0.64,"1,760,000",22.12.2022,"452,064","270,000",1973,4,...,ALL,0,1973,0,2 story,Conventional,NO of fixtures,4 family,RALEIGH,"27,601.00"
10594,11885,0,NaN,0.50,"175,000",10.05.2017,"259,138","28,800",1980,2,...,WSE,0,1980,0,1 story,Duplex,NO of fixtures,2 family,ZEBULON,"27,597.00"
15613,17455,0,NaN,0.47,"210,000",31.08.1990,"227,709","450,000",1940,2,...,ALL,0,1975,0,2 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,607.00"
15614,17455,0,NaN,0.47,"210,000",31.08.1990,"227,709","450,000",1940,2,...,ALL,0,1975,0,2 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,607.00"
16145,18019,0,NaN,0.47,"127,500",08.10.1996,"220,934","60,805",1970,2,...,WSE,0,1970,0,1 story,Duplex,NO of fixtures,2 family,WENDELL,"27,591.00"
16745,18658,0,NaN,0.43,"297,000",15.06.2012,"141,520","360,000",1981,2,...,ALL,0,1981,0,2 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,607.00"
16820,18740,0,NaN,0.22,"480,000",22.02.2008,"5,779","239,767",1920,1,...,ALL,0,1920,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
16821,18740,0,NaN,0.22,"480,000",22.02.2008,"5,779","239,767",1920,1,...,ALL,0,1920,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
19669,22000,0,NaN,0.49,"85,000",02.01.1997,"63,339","62,000",1959,1,...,WE,0,1959,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
20307,22741,0,NaN,0.44,0,NaN,"107,514","35,200",1963,1,...,WE,0,1963,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
22515,25270,0,NaN,7.38,0,NaN,0,0,2002,1,...,ALL,0,2002,0,1.5 story,Townhouse,3 bath,1 family,RALEIGH,"27,608.00"
23524,26386,0,NaN,1.88,"175,000",21.07.2005,"148,159","52,640",1968,1,...,E,0,1968,0,1 story,Conventional,1 bath,1 family,WENDELL,"27,591.00"
23525,26386,0,NaN,1.88,"175,000",21.07.2005,"148,159","52,640",1968,1,...,E,0,1968,0,1 story,Conventional,1 bath,1 family,WENDELL,"27,591.00"
23772,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
23773,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
23775,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
23776,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
23779,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
23780,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
23781,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
23782,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
23783,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
23785,26688,0,NaN,1.53,0,NaN,"1,444,441","840,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
24193,27147,0,NaN,0.98,"182,000",25.04.2005,"254,746","110,000",1965,2,...,E,0,1965,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,603.00"
24195,27148,0,NaN,0.94,"182,000",18.03.2005,"242,372","110,000",1965,2,...,E,0,1965,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,603.00"
26701,30056,0,NaN,0.37,0,NaN,"399,031","90,000",2015,1,...,ALL,0,2015,0,2 story,Townhouse,3.5 bath,1 family,RALEIGH,"27,606.00"
26835,30224,0,NaN,0.93,"95,000",26.01.1983,"389,853","60,000",1953,2,...,WSE,0,1953,0,1 story,Duplex,NO of fixtures,2 family,ZEBULON,"27,597.00"
26837,30224,0,NaN,0.93,"95,000",26.01.1983,"389,853","60,000",1968,2,...,WSE,0,1968,0,1 story,Duplex,NO of fixtures,2 family,ZEBULON,"27,597.00"
29764,33467,0,NaN,6.42,"945,000",30.04.2010,"766,212","380,000",1957,3,...,ALL,0,1970,0,1 story,Conventional,NO of fixtures,3 family,RALEIGH,"27,609.00"
30575,34376,0,NaN,1.78,0,NaN,"86,355","149,520",1969,1,...,E,0,1969,0,1 story,Conventional,1.5 bath,1 family,RALEIGH,"27,606.00"
37527,42356,0,NaN,0.80,"310,000",19.12.2013,"392,528","81,000",1973,4,...,ALL,0,1973,0,2 story,Conventional,NO of fixtures,4 family,RALEIGH,"27,603.00"
39157,44141,0,NaN,6.53,0,NaN,"457,324","568,894",1950,1,...,WSE,0,1950,0,1 story,Ranch,1.5 bath,1 family,WAKE FOREST,"27,587.00"
39162,44141,0,NaN,6.53,0,NaN,"457,324","568,894",1958,1,...,WSE,0,1958,0,1 story,Conventional,1 bath,1 family,WAKE FOREST,"27,587.00"
45116,50937,0,NaN,0.54,"255,000",23.01.2004,"213,312","120,000",1969,2,...,ALL,0,1979,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,606.00"
46947,52911,0,NaN,1.58,"2,300,000",29.09.2017,"839,104","1,575,000",1969,4,...,ALL,0,1974,0,2 story,Conventional,NO of fixtures,4 family,RALEIGH,"27,608.00"
47740,53801,0,NaN,0.99,"200,000",13.11.1995,"377,818","48,000",1976,2,...,WSE,0,1976,0,1 story,Duplex,NO of fixtures,2 family,WENDELL,"27,591.00"
47741,53801,0,NaN,0.99,"200,000",13.11.1995,"377,818","48,000",1976,2,...,WSE,0,1976,0,1 story,Duplex,NO of fixtures,2 family,WENDELL,"27,591.00"
47742,53801,0,NaN,0.99,"200,000",13.11.1995,"377,818","48,000",1976,2,...,WSE,0,1976,0,1 story,Duplex,NO of fixtures,2 family,WENDELL,"27,591.00"
48076,54197,"340,000",01.09.2021,0.14,"58,000",30.10.2001,"1,170,536","225,000",2023,1,...,ALL,0,2023,0,3 story,Conventional,3 bath,1 family,RALEIGH,"27,601.00"
50745,57332,0,NaN,3.31,0,NaN,"430,441","1,146,159",1960,1,...,ALL,0,1960,0,1 story,Conventional,1.5 bath,1 family,RALEIGH,"27,606.00"
50751,57332,0,NaN,3.31,0,NaN,"430,441","1,146,159",1940,1,...,ALL,0,1940,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,606.00"
51831,58476,0,NaN,0.81,0,NaN,0,0,1953,1,...,ALL,0,1985,0,1 story,Conventional,1 bath,1 family,GARNER,"27,529.00"
51832,58476,0,NaN,0.81,0,NaN,0,0,1953,1,...,ALL,0,1985,0,1 story,Conventional,1 bath,1 family,GARNER,"27,529.00"
51833,58476,0,NaN,0.81,0,NaN,0,0,1953,1,...,ALL,0,1985,0,1 story,Conventional,1 bath,1 family,GARNER,"27,529.00"
52069,58747,0,NaN,1.97,"440,000",04.04.2001,"384,419","176,512",1959,4,...,GE,0,1959,0,1 story,Conventional,NO of fixtures,4 family,RALEIGH,"27,604.00"
52109,58806,0,NaN,1.38,0,NaN,"110,932","55,600",1972,1,...,E,0,1972,0,1 story,Conventional,1 bath,1 family,WAKE FOREST,"27,587.00"
52110,58806,0,NaN,1.38,0,NaN,"110,932","55,600",1972,1,...,E,0,1972,0,1 story,Conventional,1 bath,1 family,WAKE FOREST,"27,587.00"
52125,58810,0,NaN,1.87,0,NaN,"190,111","112,200",1962,1,...,E,0,1962,0,1 story,Conventional,1 bath,1 family,WAKE FOREST,"27,587.00"
53582,60394,0,NaN,337.71,0,NaN,"1,428,014","5,454,255",1943,1,...,E,0,1968,0,1 story,Conventional,1 bath,1 family,WENDELL,"27,591.00"
53591,60394,0,NaN,337.71,0,NaN,"1,428,014","5,454,255",1961,1,...,E,0,1968,0,1 story,Conventional,1 bath,1 family,WENDELL,"27,591.00"
54454,61417,0,NaN,1.33,"265,000",01.05.1985,"530,067","200,000",1968,2,...,ALL,0,1968,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,606.00"
54469,61432,0,NaN,0.40,"65,000",27.06.2017,"49,019","62,000",1950,1,...,E,0,1950,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
55325,62350,0,NaN,29.11,"500,000",13.01.1999,"225,030","1,049,740",1971,1,...,ALL,0,1971,0,1 story,Conventional,1 bath,1 family,KNIGHTDALE,"27,545.00"
55337,62363,0,NaN,0.40,"230,000",01.12.2011,"351,914","360,000",1985,1,...,ALL,0,1985,0,2 story,Townhouse,1.5 bath,1 family,APEX,"27,502.00"
55338,62363,0,NaN,0.40,"230,000",01.12.2011,"351,914","360,000",1985,1,...,ALL,0,1985,0,2 story,Townhouse,1.5 bath,1 family,APEX,"27,502.00"
55339,62363,0,NaN,0.40,"230,000",01.12.2011,"351,914","360,000",1985,1,...,ALL,0,1985,0,2 story,Townhouse,1.5 bath,1 family,APEX,"27,502.00"
55954,63061,"100,000",14.12.2007,1.00,"35,500",05.07.1988,"272,732","95,700",2009,1,...,WSE,0,2009,0,1 story,Conventional,2 bath,1 family,MORRISVILLE,"27,560.00"
56992,64371,0,NaN,1.31,"62,500",23.12.1986,"260,667","75,980",1969,2,...,E,0,1969,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,603.00"
58169,65721,0,NaN,0.46,0,NaN,"60,151","35,200",1963,1,...,WE,0,1963,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
58171,65722,0,NaN,0.22,0,NaN,"62,398","35,200",1964,1,...,E,0,1964,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
58173,65723,0,NaN,0.45,0,NaN,"58,286","35,200",1962,1,...,E,0,1962,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
58868,66486,0,NaN,0.47,"136,500",20.06.2017,"161,898","46,080",1964,1,...,E,0,1970,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,603.00"
59234,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59237,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59238,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59239,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59241,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
59242,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
59243,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59245,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59246,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59247,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
59248,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59249,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
59250,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
59251,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59252,66852,0,NaN,2.15,0,NaN,"1,845,261","1,204,000",1982,1,...,NaN,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
59256,66855,"91,000",29.08.2023,0.50,0,NaN,"14,982","54,886",1959,1,...,GE,0,1959,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,610.00"
59371,66984,0,NaN,8.42,"709,000",03.12.2020,"127,554","587,351",1963,1,...,E,0,1963,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,603.00"
59814,67492,0,NaN,1.60,"900,000",01.11.2022,"569,508","383,328",1956,1,...,ALL,0,1956,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
60215,67942,0,NaN,0.46,"4,500",01.01.1975,"140,340","81,000",1958,1,...,ALL,0,1958,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,603.00"
60634,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
60635,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
60636,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
60637,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
60639,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
60640,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
60642,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
60643,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1.5 story,Conventional,1.5 bath,1 family,RALEIGH,"27,601.00"
60644,68352,0,NaN,1.51,0,NaN,"1,274,142","840,000",1982,1,...,ALL,0,1982,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,601.00"
62159,70020,0,NaN,1.24,"515,000",19.05.2021,"303,543","110,000",1964,2,...,E,0,1984,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,603.00"
62165,70027,0,NaN,1.34,"325,000",05.06.2019,"246,338","110,000",1963,2,...,E,0,1963,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,603.00"
62167,70029,0,NaN,1.32,"375,000",18.09.2020,"331,982","110,000",1962,2,...,E,0,1972,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,603.00"
63297,71253,0,NaN,2.33,"350,000",25.06.2007,"189,496","225,000",1950,1,...,GE,0,1950,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,610.00"
63298,71253,0,NaN,2.33,"350,000",25.06.2007,"189,496","225,000",1950,1,...,GE,0,1950,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,610.00"
63299,71253,0,NaN,2.33,"350,000",25.06.2007,"189,496","225,000",1950,1,...,GE,0,1950,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,610.00"
63300,71253,0,NaN,2.33,"350,000",25.06.2007,"189,496","225,000",1950,1,...,GE,0,1950,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,610.00"
63499,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,1,...,ALL,0,1968,0,1 story,Ranch,1 bath,1 family,WAKE FOREST,"27,587.00"
63501,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,1,...,ALL,0,1968,0,1 story,Ranch,1 bath,1 family,WAKE FOREST,"27,587.00"
63502,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,2,...,ALL,0,1968,0,1 story,Duplex,NO of fixtures,2 family,WAKE FOREST,"27,587.00"
63505,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,2,...,ALL,0,1968,0,1 story,Duplex,NO of fixtures,2 family,WAKE FOREST,"27,587.00"
63506,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,1,...,ALL,0,1968,0,1 story,Ranch,1 bath,1 family,WAKE FOREST,"27,587.00"
63508,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,1,...,ALL,0,1968,0,1 story,Ranch,1 bath,1 family,WAKE FOREST,"27,587.00"
63509,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,2,...,ALL,0,1968,0,1 story,Duplex,NO of fixtures,2 family,WAKE FOREST,"27,587.00"
63510,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,2,...,ALL,0,1968,0,1 story,Duplex,NO of fixtures,2 family,WAKE FOREST,"27,587.00"
63511,71450,0,NaN,4.83,0,NaN,"2,017,017","328,440",1968,1,...,ALL,0,1968,0,1 story,Ranch,1 bath,1 family,WAKE FOREST,"27,587.00"
64340,72512,"20,000",09.07.2001,0.23,0,NaN,"348,467","175,000",2002,1,...,ALL,0,2002,0,2 story,Townhouse,2.5 bath,1 family,RALEIGH,"27,608.00"
65574,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",1999,2,...,ALL,0,2012,0,1 story,Duplex,NO of fixtures,2 family,CARY,"27,511.00"
65575,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",1999,2,...,ALL,0,2012,0,1 story,Duplex,NO of fixtures,2 family,CARY,"27,511.00"
65576,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",1999,2,...,ALL,0,2012,0,1 story,Duplex,NO of fixtures,2 family,CARY,"27,511.00"
65577,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",1999,2,...,ALL,0,2012,0,1 story,Duplex,NO of fixtures,2 family,CARY,"27,511.00"
65580,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",2008,2,...,ALL,0,2012,0,1 story,Duplex,NO of fixtures,2 family,CARY,"27,511.00"
65581,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",2008,2,...,ALL,0,2012,0,1 story,Duplex,NO of fixtures,2 family,CARY,"27,511.00"
65582,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",2008,2,...,ALL,0,2012,0,1 story,Duplex,NO of fixtures,2 family,CARY,"27,511.00"
65584,73963,"30,000",08.10.1996,21.62,"83,500,000",11.04.2018,"36,762,287","7,534,138",2008,3,...,ALL,0,2012,0,1 story,Conventional,NO of fixtures,3 family,CARY,"27,511.00"
67389,76105,0,NaN,0.99,0,NaN,0,0,1951,2,...,ALL,0,2009,2009,1.75 story,Conversion,NO of fixtures,2 family,RALEIGH,"27,608.00"
67390,76105,0,NaN,0.99,0,NaN,0,0,1951,2,...,ALL,0,2009,2009,1.75 story,Conversion,NO of fixtures,2 family,RALEIGH,"27,608.00"
67956,76749,0,NaN,5.49,0,NaN,"72,808","1,205,286",1964,2,...,ALL,0,1964,0,1 story,Conventional,NO of fixtures,2 family,RALEIGH,"27,610.00"
69627,78706,0,NaN,0.61,"285,000",21.09.2009,"443,964","149,500",1980,3,...,ALL,0,1980,0,2 story,Conventional,NO of fixtures,3 family,RALEIGH,"27,610.00"
70638,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
70639,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
70640,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
70641,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
70642,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
70643,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
70644,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"
70645,79815,0,NaN,3.28,0,NaN,"1,168,194","896,000",1949,2,...,ALL,0,1950,0,1 story,Duplex,NO of fixtures,2 family,RALEIGH,"27,610.00"

In [38]:
# Create new df without duplicates
df_res = df_residential.drop_duplicates()

In [39]:
df_res.shape

(353421, 21)

In [40]:
# Check for duplicates in column 'real_estate_id' in whole dataset
dups_id = df_res[df_res['real_estate_id'].duplicated()]
dups_id

,real_estate_id,land_sale_price,land_sale_date,deeded_acreage,total_sale_price,total_sale_date,assessed_building_value,assessed_land_value,year_built,units,...,utilities,addition_year,effective_year,remodeled_year,story_height,design_style,bath,type_and_use,city,zip_code
93,108,0,NaN,58.98,0,NaN,"196,005","1,070,280",1954,1,...,E,0,1960,0,1 story,Conventional,1 bath,1 family,WILLOW SPRING,"27,592.00"
94,108,0,NaN,58.98,0,NaN,"196,005","1,070,280",1950,1,...,E,0,1960,0,1 story,Ranch,1 bath,1 family,WILLOW SPRING,"27,592.00"
203,239,0,NaN,61.21,0,NaN,"173,923","7,810,678",1943,1,...,E,0,1943,0,1 story,Conventional,1 bath,1 family,HOLLY SPRINGS,"27,540.00"
302,351,0,NaN,57.50,"76,500",19.05.2005,"1,158,651","1,064,172",1940,1,...,E,0,1965,0,1 story,Conventional,1 bath,1 family,WILLOW SPRING,"27,592.00"
303,351,0,NaN,57.50,"76,500",19.05.2005,"1,158,651","1,064,172",1967,2,...,E,0,1967,0,1 story,Conversion,2 bath,2 family,WILLOW SPRING,"27,592.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431573,498377,0,NaN,0.25,0,NaN,"735,300","104,000",2022,1,...,ALL,0,2022,0,2 story,Conventional,3.5 bath,1 family,RALEIGH,"27,612.00"
431694,498501,0,NaN,2.14,0,NaN,"132,953","1,870,885",1964,1,...,ALL,0,1964,0,1 story,Conventional,1 bath,1 family,RALEIGH,"27,612.00"
436597,503636,"410,000",09.06.2023,0.23,0,NaN,"212,064","308,750",1942,2,...,ALL,0,1942,0,2 story,Conversion,NO of fixtures,2 family,RALEIGH,"27,607.00"
436921,503967,0,NaN,39.24,0,NaN,"23,006","3,433,225",1955,1,...,E,0,1955,0,1 story,Conventional,1 bath,1 family,FUQUAY VARINA,"27,526.00"
438263,505407,0,NaN,4.24,0,NaN,"12,487,929","3,916,766",1932,1,...,ALL,0,1985,0,1 story,Conventional,NO of fixtures,Res. w/busi use,CARY,"27,511.00"

In [41]:
# Remove all duplicates with duplicate id
df_res = df_res.drop(dups_id.index)

In [42]:
df_res.shape

(351928, 21)

### Missing values

In [43]:
# Finding missing values
df_res.isnull().sum()

real_estate_id                  0
land_sale_price                 0
land_sale_date             211069
deeded_acreage                  0
total_sale_price                0
total_sale_date             21038
assessed_building_value         0
assessed_land_value             0
year_built                      0
units                           0
heated_area                     0
utilities                    2372
addition_year                   0
effective_year                  0
remodeled_year                  0
story_height                    0
design_style                    0
bath                            0
type_and_use                    0
city                          228
zip_code                      291
dtype: int64

#### Comment: I'll need to perform spatial analysis later and need to have data about city and zip code for every property. I'll need to remove rows with values missing in these columns. and correct any inconsistencies.

In [44]:
# Check all values in column 'city'
df_res['city'].value_counts(dropna = False).sort_index()

city
ANGIER              363
APEX              30173
CARY              49304
CLAYTON             355
CREEDMOOR           159
DURHAM              203
FUQUAY VARINA     19584
GARNER            11709
HOLLY SPRINGS     15552
KNIGHTDALE        10010
MORRISVILLE        7590
NEW HILL           1638
RALEIGH          160151
ROLESVILLE         3088
WAKE FOREST       24774
WENDELL            7550
WILLOW SPRING      3152
YOUNGSVILLE         205
ZEBULON            6140
NaN                 228
Name: count, dtype: int64

#### Comment: There are 12 municipalities in Wake county: Apex, Cary, Fuquay-Varina, Garner, Holly Springs, Knightdale, Morrisville, Raleigh, Rolesville, Wake Forest, Wendell, Zebulon with other 2 municipalities that have extended juristiction into Wake county: Angier and Durham.
#### Clayton, Creedmoor, New Hill, Willow Spring and Youngsville are not in Wake County and need to be removed.

In [45]:
# Remove all 'NaN' values
df_res = df_res[df_res['city'].isnull() == False]

In [46]:
df_res.shape

(351700, 21)

In [47]:
# Remove all municipalities that are not in Wake County
df_res = df_res.drop(df_res[df_res['city'] == 'CLAYTON'].index)
df_res = df_res.drop(df_res[df_res['city'] == 'CREEDMOOR'].index)
df_res = df_res.drop(df_res[df_res['city'] == 'NEW HILL'].index)
df_res = df_res.drop(df_res[df_res['city'] == 'WILLOW SPRING'].index)
df_res = df_res.drop(df_res[df_res['city'] == 'YOUNGSVILLE'].index)

In [48]:
# Check again all values in column 'city'
df_res['city'].value_counts(dropna = False).sort_index()

city
ANGIER              363
APEX              30173
CARY              49304
DURHAM              203
FUQUAY VARINA     19584
GARNER            11709
HOLLY SPRINGS     15552
KNIGHTDALE        10010
MORRISVILLE        7590
RALEIGH          160151
ROLESVILLE         3088
WAKE FOREST       24774
WENDELL            7550
ZEBULON            6140
Name: count, dtype: int64

In [49]:
df_res.shape

(346191, 21)

In [50]:
# Check all values in column 'zip_code'
df_res['zip_code'].value_counts(dropna = False)

zip_code
27,587.00    24732
27,610.00    21419
27,526.00    19584
27,519.00    18610
27,616.00    17198
27,502.00    16661
27,603.00    15881
27,540.00    15551
27,615.00    14954
27,613.00    14050
27,604.00    14046
27,513.00    13750
27,529.00    11709
27,614.00    11347
27,612.00    11316
27,606.00    10840
27,511.00    10542
27,545.00    10008
27,609.00     9953
27,539.00     8133
27,560.00     7590
27,591.00     7537
27,518.00     6400
27,597.00     6140
27,607.00     5374
27,523.00     5374
27,617.00     4921
27,608.00     4448
27,571.00     3087
27,601.00     2479
27,605.00     1915
27,501.00      363
27,703.00      194
NaN             69
27,713.00        9
0.00             7
Name: count, dtype: int64

In [51]:
# Remove all 'NaN' values
df_res = df_res[df_res['zip_code'].isnull() == False]

In [52]:
df_res.shape

(346122, 21)

In [53]:
# Remove all '0' values
df_res = df_res.drop(df_res[df_res['zip_code'] == 0].index)

In [54]:
df_res.shape

(346115, 21)

In [55]:
# Let's check again how many missing values we have now
df_res.isnull().sum()

real_estate_id                  0
land_sale_price                 0
land_sale_date             208400
deeded_acreage                  0
total_sale_price                0
total_sale_date             20108
assessed_building_value         0
assessed_land_value             0
year_built                      0
units                           0
heated_area                     0
utilities                    2273
addition_year                   0
effective_year                  0
remodeled_year                  0
story_height                    0
design_style                    0
bath                            0
type_and_use                    0
city                            0
zip_code                        0
dtype: int64

In [56]:
# Check all values in column 'utilities'
df_res['utilities'].value_counts(dropna = False)

utilities
ALL    253755
E       57111
WSE     15603
WE      13204
NaN      2273
WGE      1765
GE       1711
SGE       283
SE        159
WS        135
W          53
S          26
WSG        17
WG         12
G           6
SG          2
Name: count, dtype: int64

In [57]:
# For now, I'll change NaN to Unknown
df_res['utilities'] = df_res['utilities'].fillna('Unknown')

In [58]:
df_res['utilities'].value_counts(dropna = False)

utilities
ALL        253755
E           57111
WSE         15603
WE          13204
Unknown      2273
WGE          1765
GE           1711
SGE           283
SE            159
WS            135
W              53
S              26
WSG            17
WG             12
G               6
SG              2
Name: count, dtype: int64

#### Imputing NaN in columns 'land_sale_date' and 'total_sale_date' with values 'Never re-sold'

In [59]:
# For now, I'll impute NaN to 00.00.0000 so that later I can extract days, month and years with delimiter "."
df_res['land_sale_date'] = df_res['land_sale_date'].fillna('00.00.0000')
df_res['total_sale_date'] = df_res['total_sale_date'].fillna('00.00.0000')

In [60]:
# Let's check again how many missing values we have now
df_res.isnull().sum()

real_estate_id             0
land_sale_price            0
land_sale_date             0
deeded_acreage             0
total_sale_price           0
total_sale_date            0
assessed_building_value    0
assessed_land_value        0
year_built                 0
units                      0
heated_area                0
utilities                  0
addition_year              0
effective_year             0
remodeled_year             0
story_height               0
design_style               0
bath                       0
type_and_use               0
city                       0
zip_code                   0
dtype: int64

### Check for inconsistencies in other columns

In [61]:
df_res.shape

(346115, 21)

In [62]:
df_res['land_sale_price'].value_counts()

land_sale_price
0          208408
30,000       2363
45,000       2156
40,000       2087
25,000       2034
            ...
315,413         1
882,250         1
80,105          1
127,600         1
553,400         1
Name: count, Length: 4130, dtype: int64

In [63]:
df_res['deeded_acreage'].value_counts()

deeded_acreage
0.00     12439
0.03     11309
0.04     11173
0.17      9842
0.16      9477
         ...
8.53         1
64.67        1
79.99        1
62.84        1
39.24        1
Name: count, Length: 2036, dtype: int64

In [64]:
df_res['total_sale_price'].value_counts()

total_sale_price
0            20516
300,000       1966
250,000       1889
350,000       1872
225,000       1705
             ...
89,870           1
77,030           1
93,155           1
117,195          1
2,019,500        1
Name: count, Length: 4320, dtype: int64

#### Comment: These are all possible values. Even 0. For example: no land acreage is in Deed because only property was sold without land and similar things. For now I'll leave this as is.

In [65]:
df_res['assessed_building_value'].value_counts().sort_index()

assessed_building_value
0            187
1              2
1,000          2
1,000,353      1
1,000,487      1
            ...
999,141        1
999,431        1
999,503        1
999,739        1
999,957        1
Name: count, Length: 217838, dtype: int64

In [66]:
df_res['assessed_land_value'].value_counts().sort_index()

assessed_land_value
0            12552
1,000,000        1
1,000,650        1
1,003,167        1
1,004,134        1
             ...
993,680          1
994,500          2
995,726          1
995,850          1
997,500          3
Name: count, Length: 9231, dtype: int64

#### Comment: Assesed land value could be 0 but not the building! I'll remove all such values. Also values 1.

In [67]:
# Remove 0 and 1 values
df_res = df_res.drop(df_res[df_res['assessed_building_value'] == '0'].index)
df_res = df_res.drop(df_res[df_res['assessed_building_value'] == '1'].index)

In [68]:
df_res['assessed_building_value'].value_counts().sort_index()

assessed_building_value
1,000        2
1,000,353    1
1,000,487    1
1,000,670    1
1,001,603    1
            ..
999,141      1
999,431      1
999,503      1
999,739      1
999,957      1
Name: count, Length: 217836, dtype: int64

In [69]:
df_res.shape

(345926, 21)

#### Checking columns with years

In [70]:
df_res['year_built'].value_counts().sort_index()

year_built
0           1
1760        1
1790        1
1799        1
1800        1
1803        1
1814        2
1820        3
1830        4
1831        1
1833        2
1835        1
1840        4
1841        1
1845        1
1847        1
1848        1
1850       23
1852        2
1853        1
1854       37
1855        3
1856        1
1859        1
1860        5
1863        1
1865        3
1867        2
1868        2
1869        1
1870       13
1871        2
1872        3
1875       11
1876        5
1877        4
1878        2
1879        1
1880       14
1881        1
1882        3
1883        4
1884        2
1885        7
1886        6
1887        3
1888        4
1889        2
1890       90
1891        7
1892       53
1893        1
1894        5
1895       12
1896        9
1897        1
1898       10
1899        4
1900      101
1901      299
1902       16
1903       13
1904       13
1905      114
1906       19
1907       18
1908       60
1909      127
1910      447
1911       24
1912       66
1913       13
1914       23
1915      275
1916       43
1917       97
1918       79
1919       34
1920      741
1921       35
1922      112
1923      165
1924      117
1925      570
1926      142
1927      134
1928      219
1929       69
1930      759
1931       31
1932      123
1933       58
1934       77
1935      355
1936       94
1937       87
1938      204
1939      167
1940      865
1941      236
1942      304
1943      121
1944      151
1945      345
1946      275
1947      294
1948      708
1949      787
1950     1696
1951      568
1952      823
1953      707
1954      734
1955     1379
1956     1032
1957     1074
1958     1122
1959     1837
1960     2515
1961     1551
1962     1348
1963     1473
1964     1458
1965     1693
1966     1769
1967     1644
1968     1800
1969     2003
1970     1807
1971     2456
1972     3392
1973     2624
1974     1881
1975     1722
1976     1897
1977     2372
1978     2790
1979     3094
1980     2369
1981     2667
1982     2135
1983     4304
1984     5263
1985     6881
1986     7137
1987     4830
1988     3995
1989     3805
1990     3725
1991     3450
1992     4789
1993     5470
1994     6840
1995     6728
1996     7041
1997     7856
1998     8456
1999     9340
2000     9111
2001     9096
2002     8822
2003     8751
2004     9624
2005    11246
2006    11762
2007    10513
2008     6655
2009     3473
2010     3838
2011     3547
2012     4625
2013     5849
2014     6173
2015     6040
2016     6737
2017     7145
2018     7456
2019     7594
2020     7501
2021     7833
2022     9249
2023     3319
2024       11
Name: count, dtype: int64

In [71]:
# Remove years 0 and 2024
df_res = df_res.drop(df_res[df_res['year_built'] == 0].index)
df_res = df_res.drop(df_res[df_res['year_built'] == 2024].index)

In [72]:
df_res['year_built'].value_counts().sort_index()

year_built
1760        1
1790        1
1799        1
1800        1
1803        1
1814        2
1820        3
1830        4
1831        1
1833        2
1835        1
1840        4
1841        1
1845        1
1847        1
1848        1
1850       23
1852        2
1853        1
1854       37
1855        3
1856        1
1859        1
1860        5
1863        1
1865        3
1867        2
1868        2
1869        1
1870       13
1871        2
1872        3
1875       11
1876        5
1877        4
1878        2
1879        1
1880       14
1881        1
1882        3
1883        4
1884        2
1885        7
1886        6
1887        3
1888        4
1889        2
1890       90
1891        7
1892       53
1893        1
1894        5
1895       12
1896        9
1897        1
1898       10
1899        4
1900      101
1901      299
1902       16
1903       13
1904       13
1905      114
1906       19
1907       18
1908       60
1909      127
1910      447
1911       24
1912       66
1913       13
1914       23
1915      275
1916       43
1917       97
1918       79
1919       34
1920      741
1921       35
1922      112
1923      165
1924      117
1925      570
1926      142
1927      134
1928      219
1929       69
1930      759
1931       31
1932      123
1933       58
1934       77
1935      355
1936       94
1937       87
1938      204
1939      167
1940      865
1941      236
1942      304
1943      121
1944      151
1945      345
1946      275
1947      294
1948      708
1949      787
1950     1696
1951      568
1952      823
1953      707
1954      734
1955     1379
1956     1032
1957     1074
1958     1122
1959     1837
1960     2515
1961     1551
1962     1348
1963     1473
1964     1458
1965     1693
1966     1769
1967     1644
1968     1800
1969     2003
1970     1807
1971     2456
1972     3392
1973     2624
1974     1881
1975     1722
1976     1897
1977     2372
1978     2790
1979     3094
1980     2369
1981     2667
1982     2135
1983     4304
1984     5263
1985     6881
1986     7137
1987     4830
1988     3995
1989     3805
1990     3725
1991     3450
1992     4789
1993     5470
1994     6840
1995     6728
1996     7041
1997     7856
1998     8456
1999     9340
2000     9111
2001     9096
2002     8822
2003     8751
2004     9624
2005    11246
2006    11762
2007    10513
2008     6655
2009     3473
2010     3838
2011     3547
2012     4625
2013     5849
2014     6173
2015     6040
2016     6737
2017     7145
2018     7456
2019     7594
2020     7501
2021     7833
2022     9249
2023     3319
Name: count, dtype: int64

In [73]:
df_res.shape

(345914, 21)

In [74]:
df_res['addition_year'].value_counts().sort_index()

addition_year
0       331146
1960         1
1980         1
1982         1
1984         1
1985         2
1987         1
1988         1
1990         4
1991         1
1993         2
1994         2
1995         1
1996         1
1997         3
1998         2
1999         2
2000         5
2001         2
2002         5
2003         1
2004         2
2005       397
2006       487
2007       410
2008       561
2009       426
2010       382
2011       355
2012       222
2013       244
2014       460
2015       709
2016       471
2017       276
2018       812
2019      1522
2020      2389
2021      2826
2022      1330
2023       425
2024        19
2077         1
2102         1
2149         1
2202         1
Name: count, dtype: int64

In [75]:
# Remove years unrealistic years > 2023
df_res = df_res.drop(df_res[df_res['addition_year'] == 2024].index)
df_res = df_res.drop(df_res[df_res['addition_year'] == 2077].index)
df_res = df_res.drop(df_res[df_res['addition_year'] == 2102].index)
df_res = df_res.drop(df_res[df_res['addition_year'] == 2149].index)
df_res = df_res.drop(df_res[df_res['addition_year'] == 2202].index)

In [76]:
df_res['addition_year'].value_counts()

addition_year
0       331146
2021      2826
2020      2389
2019      1522
2022      1330
2018       812
2015       709
2008       561
2006       487
2016       471
2014       460
2009       426
2023       425
2007       410
2005       397
2010       382
2011       355
2017       276
2013       244
2012       222
2002         5
2000         5
1990         4
1997         3
1999         2
1985         2
1993         2
2004         2
2001         2
1998         2
1994         2
1995         1
1982         1
1960         1
2003         1
1980         1
1984         1
1987         1
1996         1
1991         1
1988         1
Name: count, dtype: int64

In [77]:
df_res.shape

(345891, 21)

In [78]:
df_res['effective_year'].value_counts().sort_index()

effective_year
1840        2
1850        4
1870        1
1875        1
1885        1
1890        8
1891        2
1900       14
1901       48
1904        2
1905       11
1906        3
1907        3
1908        5
1909       16
1910       69
1911        2
1912        3
1913        2
1914        2
1915       24
1916        2
1917        5
1918        8
1919        4
1920      109
1921        3
1922        7
1923        2
1924        8
1925       49
1926        4
1927       12
1928       14
1929        5
1930      122
1931        3
1932       11
1933        5
1934       10
1935       63
1936       16
1937        7
1938       17
1939       12
1940      298
1941       20
1942       34
1943        6
1944       28
1945      137
1946       51
1947       59
1948      150
1949      313
1950      946
1951       96
1952      213
1953      280
1954      183
1955      572
1956      282
1957      318
1958      287
1959      622
1960     2587
1961      715
1962      659
1963      622
1964      680
1965     1580
1966      916
1967      773
1968      910
1969     1116
1970     5323
1971     1503
1972     2426
1973     1724
1974     1321
1975     3030
1976     1436
1977     1738
1978     2020
1979     2257
1980     6531
1981     2284
1982     2024
1983     3579
1984     4285
1985     8241
1986     6144
1987     4209
1988     3748
1989     3622
1990     7557
1991     3504
1992     4740
1993     5278
1994     6674
1995    10332
1996     7080
1997     7803
1998     8565
1999     9521
2000    12965
2001     9384
2002     9184
2003     9126
2004    10035
2005    13389
2006    12306
2007    10865
2008     7097
2009     3840
2010     7045
2011     3879
2012     5282
2013     6086
2014     6375
2015     7109
2016     6900
2017     7227
2018     7522
2019     7635
2020     7547
2021     7841
2022     9251
2023     3323
2024        1
2050        1
2208        1
2209        1
2999        1
Name: count, dtype: int64

In [79]:
# Remove years unrealistic years > 2023
df_res = df_res.drop(df_res[df_res['effective_year'] == 2024].index)
df_res = df_res.drop(df_res[df_res['effective_year'] == 2050].index)
df_res = df_res.drop(df_res[df_res['effective_year'] == 2208].index)
df_res = df_res.drop(df_res[df_res['effective_year'] == 2209].index)
df_res = df_res.drop(df_res[df_res['effective_year'] == 2999].index)

In [80]:
df_res['effective_year'].value_counts().sort_index()

effective_year
1840        2
1850        4
1870        1
1875        1
1885        1
1890        8
1891        2
1900       14
1901       48
1904        2
1905       11
1906        3
1907        3
1908        5
1909       16
1910       69
1911        2
1912        3
1913        2
1914        2
1915       24
1916        2
1917        5
1918        8
1919        4
1920      109
1921        3
1922        7
1923        2
1924        8
1925       49
1926        4
1927       12
1928       14
1929        5
1930      122
1931        3
1932       11
1933        5
1934       10
1935       63
1936       16
1937        7
1938       17
1939       12
1940      298
1941       20
1942       34
1943        6
1944       28
1945      137
1946       51
1947       59
1948      150
1949      313
1950      946
1951       96
1952      213
1953      280
1954      183
1955      572
1956      282
1957      318
1958      287
1959      622
1960     2587
1961      715
1962      659
1963      622
1964      680
1965     1580
1966      916
1967      773
1968      910
1969     1116
1970     5323
1971     1503
1972     2426
1973     1724
1974     1321
1975     3030
1976     1436
1977     1738
1978     2020
1979     2257
1980     6531
1981     2284
1982     2024
1983     3579
1984     4285
1985     8241
1986     6144
1987     4209
1988     3748
1989     3622
1990     7557
1991     3504
1992     4740
1993     5278
1994     6674
1995    10332
1996     7080
1997     7803
1998     8565
1999     9521
2000    12965
2001     9384
2002     9184
2003     9126
2004    10035
2005    13389
2006    12306
2007    10865
2008     7097
2009     3840
2010     7045
2011     3879
2012     5282
2013     6086
2014     6375
2015     7109
2016     6900
2017     7227
2018     7522
2019     7635
2020     7547
2021     7841
2022     9251
2023     3323
Name: count, dtype: int64

In [81]:
df_res.shape

(345886, 21)

In [82]:
df_res['remodeled_year'].value_counts().sort_index()

remodeled_year
0       337651
1985         1
1989         1
1990         2
1995         2
1998         1
2000         3
2001         1
2002         3
2003         2
2004         3
2005       121
2006       254
2007        29
2008       259
2009       293
2010       225
2011       190
2012        46
2013       111
2014       309
2015       701
2016       683
2017       615
2018       673
2019      1078
2020       695
2021       669
2022       974
2023       284
2024         6
2209         1
Name: count, dtype: int64

In [83]:
# Remove years unrealistic years > 2023
df_res = df_res.drop(df_res[df_res['remodeled_year'] == 2024].index)
df_res = df_res.drop(df_res[df_res['remodeled_year'] == 2209].index)

In [84]:
df_res['remodeled_year'].value_counts()

remodeled_year
0       337651
2019      1078
2022       974
2015       701
2020       695
2016       683
2018       673
2021       669
2017       615
2014       309
2009       293
2023       284
2008       259
2006       254
2010       225
2011       190
2005       121
2013       111
2012        46
2007        29
2000         3
2002         3
2004         3
1990         2
2003         2
1995         2
1998         1
1989         1
1985         1
2001         1
Name: count, dtype: int64

In [85]:
df_res.shape

(345879, 21)

#### Checking other columns

In [86]:
df_res['units'].value_counts().sort_index()

units
0       1312
1     341404
2       2198
3        390
4        532
5         16
6         11
7          5
10        10
14         1
Name: count, dtype: int64

In [87]:
# Remove 0 values
df_res = df_res.drop(df_res[df_res['units'] == 0].index)

In [88]:
df_res['units'].value_counts().sort_index()

units
1     341404
2       2198
3        390
4        532
5         16
6         11
7          5
10        10
14         1
Name: count, dtype: int64

In [89]:
df_res.shape

(344567, 21)

In [90]:
df_res['heated_area'].value_counts().sort_index()

heated_area
0        72
252      98
280       1
284       1
286       2
         ..
17682     1
17792     1
18789     1
21993     1
33539     1
Name: count, Length: 7065, dtype: int64

### Remove all commas (,) from columns with prices or assessed values

In [91]:
# Remove comma (,) from columns 'assessed_building_value', 'assessed_land_value', 'land_sale_price' and 'total_sale_price'
df_res['assessed_building_value'] = df_res['assessed_building_value'].str.replace(',','')
df_res['assessed_land_value'] = df_res['assessed_land_value'].str.replace(',','')
df_res['land_sale_price'] = df_res['land_sale_price'].str.replace(',','')
df_res['total_sale_price'] = df_res['total_sale_price'].str.replace(',','')

### Change data types

In [92]:
df_res.dtypes

real_estate_id               int64
land_sale_price             object
land_sale_date              object
deeded_acreage             float64
total_sale_price            object
total_sale_date             object
assessed_building_value     object
assessed_land_value         object
year_built                   int64
units                        int64
heated_area                  int64
utilities                   object
addition_year                int64
effective_year               int64
remodeled_year               int64
story_height                object
design_style                object
bath                        object
type_and_use                object
city                        object
zip_code                   float64
dtype: object

In [93]:
df_res['zip_code'] = df_res['zip_code'].astype(int)

In [94]:
# Change data type for 4 columns with assessed values and prices
df_res['assessed_building_value'] = df_res['assessed_building_value'].astype(int)
df_res['assessed_land_value'] = df_res['assessed_land_value'].astype(int)
df_res['land_sale_price'] = df_res['land_sale_price'].astype(int)
df_res['total_sale_price'] = df_res['total_sale_price'].astype(int)

In [95]:
df_res.dtypes

real_estate_id               int64
land_sale_price              int32
land_sale_date              object
deeded_acreage             float64
total_sale_price             int32
total_sale_date             object
assessed_building_value      int32
assessed_land_value          int32
year_built                   int64
units                        int64
heated_area                  int64
utilities                   object
addition_year                int64
effective_year               int64
remodeled_year               int64
story_height                object
design_style                object
bath                        object
type_and_use                object
city                        object
zip_code                     int32
dtype: object

## 5. Export data

In [96]:
# Export df_res as csv file
df_res.to_csv(os.path.join(path, 'Data','Prepared Data', 'residential_properties_cleaned.csv'), index = False)